C:/Users/karim/OneDrive/Desktop/Sales[[:space:]]project filter=lfs diff=lfs merge=lfs -text
rC:/Users/karim/OneDrive/Desktop/Sales[[:space:]]project filter=lfs diff=lfs merge=lfs -text
C:/Users/karim/OneDrive/Desktop/Sales[[:space:]]project filter=lfs diff=lfs merge=lfs -text
C:/Users/karim/OneDrive/Desktop/Sales filter=lfs diff=lfs merge=lfs -text
C:/Users/karim/OneDrive/Desktop/Sales filter=lfs diff=lfs merge=lfs -text
C:/Users/karim/OneDrive/Desktop/Sales[[:space:]]project filter=lfs diff=lfs merge=lfs -text
