plotly-express==0.4.1
prophet==1.1.2
holidays==0.24
requests-html==0.10.0
streamlit==1.19.0
streamlit-aggrid==0.3.3
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-cookies-manager==0.2.0
streamlit-embedcode==0.1.2
streamlit-extras==0.2.6
streamlit-faker==0.0.2
streamlit-folium==0.11.0
streamlit-image-coordinates==0.1.3
streamlit-keyup==0.2.0
streamlit-login-auth-ui==0.2.0
streamlit-lottie==0.0.3
streamlit-option-menu==0.3.2
streamlit-pandas-profiling==0.1.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
pandas==1.4.4
numpy==1.21.5
matplotlib==3.5.2
scikit-learn==1.0.2
requests==2.25.1
